.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.about-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.about-text {
  font-family: "AnandaBlackPersonalUse-Regular";
}
.about-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-navlink {
  text-decoration: none;
}
.about-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-burger-menu {
  display: none;
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-logo {
  height: 2rem;
}
.about-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-text7 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-login {
  margin-right: var(--dl-space-space-twounits);
}
.about-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1600px) {
  .about-navbar-interactive {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-bottom-width: 2px;
  }
  .about-navlink {
    font-size: 28px;
  }
  .about-navlink1 {
    font-size: 28px;
  }
  .about-navlink2 {
    font-size: 28px;
  }
  .about-navlink3 {
    font-size: 28px;
  }
  .about-navlink4 {
    font-size: 28px;
  }
}
@media(max-width: 1200px) {
  .about-navbar-interactive {
    height: 160px;
    border-color: var(--dl-color-gray-black);
    border-width: 1.6px;
  }
  .about-container1 {
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 2px;
  }
  .about-text {
    font-size: 2.5em;
    font-family: AnandaBlackPersonalUse-Regular;
  }
  .about-text1 {
    font-family: AnandaBlackPersonalUse-Regular;
  }
  .about-navlink {
    font-size: 27px;
    font-family: Oxygen;
  }
  .about-navlink1 {
    font-size: 27px;
    font-family: Oxygen;
  }
  .about-navlink2 {
    font-size: 27px;
    font-family: Oxygen;
  }
  .about-navlink3 {
    font-size: 27px;
    font-family: Oxygen;
  }
  .about-navlink4 {
    font-size: 27px;
    font-family: Oxygen;
  }
}
@media(max-width: 991px) {
  .about-navbar-interactive {
    position: relative;
  }
  .about-desktop-menu {
    display: none;
  }
  .about-burger-menu {
    height: auto;
    display: flex;
  }
}
@media(max-width: 767px) {
  .about-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .about-text3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .about-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .about-mobile-menu {
    padding: 16px;
  }
}
