.destinations-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.destinations-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.destinations-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.destinations-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.destinations-text {
  font-family: "AnandaBlackPersonalUse-Regular";
}
.destinations-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.destinations-navlink {
  text-decoration: none;
}
.destinations-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.destinations-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.destinations-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.destinations-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.destinations-burger-menu {
  display: none;
}
.destinations-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.destinations-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.destinations-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.destinations-logo {
  height: 2rem;
}
.destinations-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.destinations-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.destinations-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.destinations-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.destinations-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.destinations-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.destinations-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.destinations-text7 {
  margin-bottom: var(--dl-space-space-unit);
}
.destinations-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.destinations-login {
  margin-right: var(--dl-space-space-twounits);
}
.destinations-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.destinations-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.destinations-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1600px) {
  .destinations-container {
    border-color: #00b0ff;
    border-width: 10px;
    background-size: cover;
    background-image: url('https://img.freepik.com/free-vector/digital-technology-background-with-abstract-wave-border_53876-117508.jpg');
  }
  .destinations-navbar-interactive {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: #ffffff;
    border-bottom-width: 2px;
  }
  .destinations-navlink {
    font-size: 28px;
  }
  .destinations-navlink1 {
    font-size: 28px;
  }
  .destinations-navlink2 {
    font-size: 28px;
  }
  .destinations-navlink3 {
    font-size: 28px;
  }
  .destinations-navlink4 {
    font-size: 28px;
  }
}
@media(max-width: 1200px) {
  .destinations-container {
    background-image: url('https://img.freepik.com/free-vector/digital-technology-background-with-abstract-wave-border_53876-117508.jpg');
  }
  .destinations-navbar-interactive {
    height: 160px;
    border-color: var(--dl-color-gray-black);
    border-width: 1.6px;
  }
  .destinations-container1 {
    border-color: var(--dl-color-gray-black);
    border-style: solid;
    border-width: 2px;
  }
  .destinations-text {
    font-size: 2.5em;
    font-family: AnandaBlackPersonalUse-Regular;
  }
  .destinations-text1 {
    font-family: AnandaBlackPersonalUse-Regular;
  }
  .destinations-navlink {
    font-size: 27px;
    font-family: Oxygen;
  }
  .destinations-navlink1 {
    font-size: 27px;
    font-family: Oxygen;
  }
  .destinations-navlink2 {
    font-size: 27px;
    font-family: Oxygen;
  }
  .destinations-navlink3 {
    font-size: 27px;
    font-family: Oxygen;
  }
  .destinations-navlink4 {
    font-size: 27px;
    font-family: Oxygen;
  }
}
@media(max-width: 991px) {
  .destinations-navbar-interactive {
    position: relative;
  }
  .destinations-desktop-menu {
    display: none;
  }
  .destinations-burger-menu {
    height: auto;
    display: flex;
  }
}
@media(max-width: 767px) {
  .destinations-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .destinations-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .destinations-text3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .destinations-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .destinations-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .destinations-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .destinations-text7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .destinations-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .destinations-mobile-menu {
    padding: 16px;
  }
}
